<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_LbMS0JXTEeqfKILdbDp0tg" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist.&#xA;in event startupFinished&#xA;in event  pass&#xA;in event new_patient&#xA;in event resume&#xA;in event cancel&#xA;in event test_alarms&#xA;in event start&#xA;in event stop&#xA;var espRunnning: boolean = false&#xA;in event poweroff&#xA;" name="gui_model_2">
    <regions xmi:id="_XaO3sJXTEeqfKILdbDp0tg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_XaO3sZXTEeqfKILdbDp0tg">
        <outgoingTransitions xmi:id="_XaO3spXTEeqfKILdbDp0tg" specification="" target="_XaO3s5XTEeqfKILdbDp0tg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_XaO3s5XTEeqfKILdbDp0tg" name="Start-up" incomingTransitions="_XaO3spXTEeqfKILdbDp0tg">
        <outgoingTransitions xmi:id="_XaO3tZXTEeqfKILdbDp0tg" specification="startupFinished" target="_XaO3v5XTEeqfKILdbDp0tg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_XaO3uZXTEeqfKILdbDp0tg" name="SelfTest" incomingTransitions="_XaO3xJXTEeqfKILdbDp0tg">
        <outgoingTransitions xmi:id="_XaO3u5XTEeqfKILdbDp0tg" specification="pass" target="_XaO325XTEeqfKILdbDp0tg"/>
        <outgoingTransitions xmi:id="_x62qIJXoEeqfKILdbDp0tg" specification="cancel" target="_N0Ej0JXVEeqfKILdbDp0tg"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_XaO3v5XTEeqfKILdbDp0tg" incomingTransitions="_XaO3tZXTEeqfKILdbDp0tg">
        <outgoingTransitions xmi:id="_XaO3wJXTEeqfKILdbDp0tg" specification="[espRunnning]" target="_XaO3y5XTEeqfKILdbDp0tg"/>
        <outgoingTransitions xmi:id="_dfSfgJXVEeqfKILdbDp0tg" specification="else" target="_N0Ej0JXVEeqfKILdbDp0tg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_XaO3yJXTEeqfKILdbDp0tg" name="Ventilation">
        <regions xmi:id="_XaO3ypXTEeqfKILdbDp0tg" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_XaO3y5XTEeqfKILdbDp0tg" name="PatientVentilation" incomingTransitions="_XaO3wJXTEeqfKILdbDp0tg _XaO315XTEeqfKILdbDp0tg">
            <outgoingTransitions xmi:id="_XaO3zZXTEeqfKILdbDp0tg" specification="stop" target="_XaO30ZXTEeqfKILdbDp0tg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_XaO30ZXTEeqfKILdbDp0tg" name="StandBy" incomingTransitions="_XaPewJXTEeqfKILdbDp0tg _XaO3zZXTEeqfKILdbDp0tg _-rRjQJXVEeqfKILdbDp0tg">
            <outgoingTransitions xmi:id="_XaO305XTEeqfKILdbDp0tg" specification="test_alarms" target="_XaO325XTEeqfKILdbDp0tg"/>
            <outgoingTransitions xmi:id="_XaO315XTEeqfKILdbDp0tg" specification="start" target="_XaO3y5XTEeqfKILdbDp0tg"/>
            <outgoingTransitions xmi:id="_QOmQGZXWEeqfKILdbDp0tg" specification="poweroff" target="_MaPNoJXWEeqfKILdbDp0tg"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_XaO325XTEeqfKILdbDp0tg" name="AlarmTest" incomingTransitions="_XaO305XTEeqfKILdbDp0tg _XaO3u5XTEeqfKILdbDp0tg">
        <outgoingTransitions xmi:id="_XaPewJXTEeqfKILdbDp0tg" specification="pass" target="_XaO30ZXTEeqfKILdbDp0tg"/>
        <outgoingTransitions xmi:id="_ESqH4JXpEeqfKILdbDp0tg" specification="cancel" target="_N0Ej0JXVEeqfKILdbDp0tg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_N0Ej0JXVEeqfKILdbDp0tg" name="Start" incomingTransitions="_dfSfgJXVEeqfKILdbDp0tg _x62qIJXoEeqfKILdbDp0tg _ESqH4JXpEeqfKILdbDp0tg">
        <outgoingTransitions xmi:id="_XaO3xJXTEeqfKILdbDp0tg" specification="new_patient" target="_XaO3uZXTEeqfKILdbDp0tg"/>
        <outgoingTransitions xmi:id="_-rRjQJXVEeqfKILdbDp0tg" specification="resume" target="_XaO30ZXTEeqfKILdbDp0tg"/>
      </vertices>
      <vertices xsi:type="sgraph:FinalState" xmi:id="_MaPNoJXWEeqfKILdbDp0tg" incomingTransitions="_QOmQGZXWEeqfKILdbDp0tg"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_LbMS15XTEeqfKILdbDp0tg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_LbMS0JXTEeqfKILdbDp0tg" measurementUnit="Pixel">
    <children xsi:type="notation:Shape" xmi:id="_LbNg-ZXTEeqfKILdbDp0tg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_LbNg-5XTEeqfKILdbDp0tg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LbNg_JXTEeqfKILdbDp0tg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LbNg_ZXTEeqfKILdbDp0tg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_LbNg_pXTEeqfKILdbDp0tg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LbNg_5XTEeqfKILdbDp0tg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_LbNhAJXTEeqfKILdbDp0tg" x="10" y="10" width="200" height="400"/>
    </children>
    <children xmi:id="_XaOQoJXTEeqfKILdbDp0tg" type="Region" element="_XaO3sJXTEeqfKILdbDp0tg">
      <children xsi:type="notation:DecorationNode" xmi:id="_XaOQoZXTEeqfKILdbDp0tg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XaOQopXTEeqfKILdbDp0tg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XaOQo5XTEeqfKILdbDp0tg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_XaOQpJXTEeqfKILdbDp0tg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_XaOQpZXTEeqfKILdbDp0tg" type="Entry" element="_XaO3sZXTEeqfKILdbDp0tg">
          <children xmi:id="_XaOQppXTEeqfKILdbDp0tg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_XaOQp5XTEeqfKILdbDp0tg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_XaOQqJXTEeqfKILdbDp0tg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_XaOQqZXTEeqfKILdbDp0tg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_XaOQqpXTEeqfKILdbDp0tg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XaOQq5XTEeqfKILdbDp0tg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_XaOQrJXTEeqfKILdbDp0tg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_XaOQrZXTEeqfKILdbDp0tg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XaOQrpXTEeqfKILdbDp0tg" x="96" y="-17" width="15" height="15"/>
        </children>
        <children xmi:id="_XaOQr5XTEeqfKILdbDp0tg" type="State" element="_XaO3s5XTEeqfKILdbDp0tg">
          <children xsi:type="notation:DecorationNode" xmi:id="_XaOQsJXTEeqfKILdbDp0tg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_XaOQsZXTEeqfKILdbDp0tg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_XaOQspXTEeqfKILdbDp0tg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XaOQs5XTEeqfKILdbDp0tg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_XaOQtJXTEeqfKILdbDp0tg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XaOQtZXTEeqfKILdbDp0tg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XaOQtpXTEeqfKILdbDp0tg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_XaOQt5XTEeqfKILdbDp0tg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_XaOQuJXTEeqfKILdbDp0tg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_XaOQuZXTEeqfKILdbDp0tg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XaOQupXTEeqfKILdbDp0tg" x="52" y="13" width="103" height="53"/>
        </children>
        <children xmi:id="_XaOQu5XTEeqfKILdbDp0tg" type="State" element="_XaO3uZXTEeqfKILdbDp0tg">
          <children xsi:type="notation:DecorationNode" xmi:id="_XaOQvJXTEeqfKILdbDp0tg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_XaOQvZXTEeqfKILdbDp0tg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_XaOQvpXTEeqfKILdbDp0tg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XaOQv5XTEeqfKILdbDp0tg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_XaOQwJXTEeqfKILdbDp0tg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XaOQwZXTEeqfKILdbDp0tg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XaOQwpXTEeqfKILdbDp0tg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_XaOQw5XTEeqfKILdbDp0tg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_XaOQxJXTEeqfKILdbDp0tg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_XaOQxZXTEeqfKILdbDp0tg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XaOQxpXTEeqfKILdbDp0tg" x="53" y="280" width="102" height="53"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_XaOQx5XTEeqfKILdbDp0tg" type="Choice" element="_XaO3v5XTEeqfKILdbDp0tg" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XaOQyJXTEeqfKILdbDp0tg" x="82" y="98" width="15" height="15"/>
        </children>
        <children xmi:id="_XaOQyZXTEeqfKILdbDp0tg" type="State" element="_XaO3yJXTEeqfKILdbDp0tg">
          <children xsi:type="notation:DecorationNode" xmi:id="_XaOQypXTEeqfKILdbDp0tg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_XaOQy5XTEeqfKILdbDp0tg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_XaOQzJXTEeqfKILdbDp0tg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XaOQzZXTEeqfKILdbDp0tg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_XaOQzpXTEeqfKILdbDp0tg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XaOQz5XTEeqfKILdbDp0tg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XaOQ0JXTEeqfKILdbDp0tg" type="StateFigureCompartment">
            <children xmi:id="_6iY3wJXUEeqfKILdbDp0tg" type="Region" element="_XaO3ypXTEeqfKILdbDp0tg">
              <children xsi:type="notation:DecorationNode" xmi:id="_6iY3wZXUEeqfKILdbDp0tg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_6iY3wpXUEeqfKILdbDp0tg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_6iY3w5XUEeqfKILdbDp0tg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_6iY3xJXUEeqfKILdbDp0tg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_6iY3xZXUEeqfKILdbDp0tg" type="State" element="_XaO3y5XTEeqfKILdbDp0tg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_6iY3xpXUEeqfKILdbDp0tg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_6iY3x5XUEeqfKILdbDp0tg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_6iY3yJXUEeqfKILdbDp0tg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_6iY3yZXUEeqfKILdbDp0tg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_6iY3ypXUEeqfKILdbDp0tg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6iY3y5XUEeqfKILdbDp0tg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_6iY3zJXUEeqfKILdbDp0tg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_6iY3zZXUEeqfKILdbDp0tg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_6iY3zpXUEeqfKILdbDp0tg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_6iY3z5XUEeqfKILdbDp0tg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6iY30JXUEeqfKILdbDp0tg" x="18" width="146" height="53"/>
                </children>
                <children xmi:id="_6iY30ZXUEeqfKILdbDp0tg" type="State" element="_XaO30ZXTEeqfKILdbDp0tg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_6iY30pXUEeqfKILdbDp0tg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_6iY305XUEeqfKILdbDp0tg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_6iY31JXUEeqfKILdbDp0tg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_6iY31ZXUEeqfKILdbDp0tg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_6iY31pXUEeqfKILdbDp0tg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6iY315XUEeqfKILdbDp0tg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_6iY32JXUEeqfKILdbDp0tg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_6iY32ZXUEeqfKILdbDp0tg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_6iY32pXUEeqfKILdbDp0tg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_6iY325XUEeqfKILdbDp0tg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6iY33JXUEeqfKILdbDp0tg" x="18" y="118" width="146" height="53"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6iY33ZXUEeqfKILdbDp0tg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_6iY33pXUEeqfKILdbDp0tg" fontName="Verdana" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6iY335XUEeqfKILdbDp0tg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_XaOQ8ZXTEeqfKILdbDp0tg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_XaOQ8pXTEeqfKILdbDp0tg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_XaOQ85XTEeqfKILdbDp0tg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XaOQ9JXTEeqfKILdbDp0tg" x="333" y="8" width="205" height="255"/>
        </children>
        <children xmi:id="_XaOQ9ZXTEeqfKILdbDp0tg" type="State" element="_XaO325XTEeqfKILdbDp0tg">
          <children xsi:type="notation:DecorationNode" xmi:id="_XaOQ9pXTEeqfKILdbDp0tg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_XaOQ95XTEeqfKILdbDp0tg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_XaOQ-JXTEeqfKILdbDp0tg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XaOQ-ZXTEeqfKILdbDp0tg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_XaOQ-pXTEeqfKILdbDp0tg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XaOQ-5XTEeqfKILdbDp0tg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_XaOQ_JXTEeqfKILdbDp0tg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_XaOQ_ZXTEeqfKILdbDp0tg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_XaOQ_pXTEeqfKILdbDp0tg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_XaOQ_5XTEeqfKILdbDp0tg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XaORAJXTEeqfKILdbDp0tg" x="231" y="280" width="103" height="53"/>
        </children>
        <children xmi:id="_N0FK4pXVEeqfKILdbDp0tg" type="State" element="_N0Ej0JXVEeqfKILdbDp0tg">
          <children xsi:type="notation:DecorationNode" xmi:id="_N0FK5pXVEeqfKILdbDp0tg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_N0FK55XVEeqfKILdbDp0tg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_N0FK6JXVEeqfKILdbDp0tg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_N0FK6ZXVEeqfKILdbDp0tg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_N0FK6pXVEeqfKILdbDp0tg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_N0FK65XVEeqfKILdbDp0tg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_N0FK7JXVEeqfKILdbDp0tg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_N0FK45XVEeqfKILdbDp0tg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_N0FK5JXVEeqfKILdbDp0tg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_N0FK7ZXVEeqfKILdbDp0tg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_N0FK5ZXVEeqfKILdbDp0tg" x="52" y="166" width="103" height="53"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_MaPNoZXWEeqfKILdbDp0tg" type="FinalState" element="_MaPNoJXWEeqfKILdbDp0tg" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MaPNopXWEeqfKILdbDp0tg" x="468" y="323" width="15" height="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XaORAZXTEeqfKILdbDp0tg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_XaORApXTEeqfKILdbDp0tg" fontName="Verdana" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XaORA5XTEeqfKILdbDp0tg" x="165" y="120" width="568" height="402"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_LbMS2JXTEeqfKILdbDp0tg" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_LbMS2ZXTEeqfKILdbDp0tg"/>
    <edges xmi:id="_XaPexJXTEeqfKILdbDp0tg" type="Transition" element="_XaO3spXTEeqfKILdbDp0tg" source="_XaOQpZXTEeqfKILdbDp0tg" target="_XaOQr5XTEeqfKILdbDp0tg">
      <children xsi:type="notation:DecorationNode" xmi:id="_XaPexZXTEeqfKILdbDp0tg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XaPexpXTEeqfKILdbDp0tg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XaPex5XTEeqfKILdbDp0tg" x="-1" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XaPeyJXTEeqfKILdbDp0tg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XaPeyZXTEeqfKILdbDp0tg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XaPeypXTEeqfKILdbDp0tg" points="[0, 7, 0, -42]$[0, 23, 0, -26]"/>
    </edges>
    <edges xmi:id="_XaPey5XTEeqfKILdbDp0tg" type="Transition" element="_XaO3xJXTEeqfKILdbDp0tg" source="_N0FK4pXVEeqfKILdbDp0tg" target="_XaOQu5XTEeqfKILdbDp0tg">
      <children xsi:type="notation:DecorationNode" xmi:id="_XaPezJXTEeqfKILdbDp0tg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XaPezZXTEeqfKILdbDp0tg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XaPezpXTEeqfKILdbDp0tg" x="5" y="46"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XaPez5XTEeqfKILdbDp0tg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XaPe0JXTEeqfKILdbDp0tg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XaPe0ZXTEeqfKILdbDp0tg" points="[-62, 29, 1, -63]$[-62, 90, 1, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bT4-8JXVEeqfKILdbDp0tg" id="(0.9574468085106383,0.4528301886792453)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XaPe0pXTEeqfKILdbDp0tg" id="(0.3333333333333333,0.03773584905660377)"/>
    </edges>
    <edges xmi:id="_XaPe05XTEeqfKILdbDp0tg" type="Transition" element="_XaO3wJXTEeqfKILdbDp0tg" source="_XaOQx5XTEeqfKILdbDp0tg" target="_6iY3xZXUEeqfKILdbDp0tg">
      <children xsi:type="notation:DecorationNode" xmi:id="_XaPe1JXTEeqfKILdbDp0tg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XaPe1ZXTEeqfKILdbDp0tg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XaPe1pXTEeqfKILdbDp0tg" x="-7" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XaPe15XTEeqfKILdbDp0tg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XaPe2JXTEeqfKILdbDp0tg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XaPe2ZXTEeqfKILdbDp0tg" points="[6, -1, -359, 24]$[279, -1, -86, 24]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XaPe2pXTEeqfKILdbDp0tg" id="(0.5919540229885057,0.09433962264150944)"/>
    </edges>
    <edges xmi:id="_XaQF0JXTEeqfKILdbDp0tg" type="Transition" element="_XaO3tZXTEeqfKILdbDp0tg" source="_XaOQr5XTEeqfKILdbDp0tg" target="_XaOQx5XTEeqfKILdbDp0tg">
      <children xsi:type="notation:DecorationNode" xmi:id="_XaQF0ZXTEeqfKILdbDp0tg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XaQF0pXTEeqfKILdbDp0tg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XaQF05XTEeqfKILdbDp0tg" x="-6" y="-29"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XaQF1JXTEeqfKILdbDp0tg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XaQF1ZXTEeqfKILdbDp0tg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XaQF1pXTEeqfKILdbDp0tg" points="[-66, 16, 5, -40]$[-66, 47, 5, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XaQF15XTEeqfKILdbDp0tg" id="(1.0,0.6981132075471698)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XaQF2JXTEeqfKILdbDp0tg" id="(0.13333333333333333,0.5333333333333333)"/>
    </edges>
    <edges xmi:id="_XaQF2ZXTEeqfKILdbDp0tg" type="Transition" element="_XaO3u5XTEeqfKILdbDp0tg" source="_XaOQu5XTEeqfKILdbDp0tg" target="_XaOQ9ZXTEeqfKILdbDp0tg">
      <children xsi:type="notation:DecorationNode" xmi:id="_XaQF2pXTEeqfKILdbDp0tg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XaQF25XTEeqfKILdbDp0tg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XaQF3JXTEeqfKILdbDp0tg" x="1" y="19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XaQF3ZXTEeqfKILdbDp0tg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XaQF3pXTEeqfKILdbDp0tg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XaQF35XTEeqfKILdbDp0tg" points="[0, -10, -240, 83]$[42, -10, -198, 83]$[42, -113, -198, -20]$[213, -113, -27, -20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XaQF4JXTEeqfKILdbDp0tg" id="(1.0,0.6792452830188679)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XaQF4ZXTEeqfKILdbDp0tg" id="(0.0,0.49056603773584906)"/>
    </edges>
    <edges xmi:id="_XaQF4pXTEeqfKILdbDp0tg" type="Transition" element="_XaPewJXTEeqfKILdbDp0tg" source="_XaOQ9ZXTEeqfKILdbDp0tg" target="_6iY30ZXUEeqfKILdbDp0tg">
      <children xsi:type="notation:DecorationNode" xmi:id="_XaQF45XTEeqfKILdbDp0tg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XaQF5JXTEeqfKILdbDp0tg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XaQF5ZXTEeqfKILdbDp0tg" x="-13" y="23"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XaQF5pXTEeqfKILdbDp0tg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XaQF55XTEeqfKILdbDp0tg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XaQF6JXTEeqfKILdbDp0tg" points="[-52, -33, -96, 48]$[-52, -110, -96, -29]$[34, -110, -10, -29]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XaQF6ZXTEeqfKILdbDp0tg" id="(1.0,0.6226415094339622)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XaQF6pXTEeqfKILdbDp0tg" id="(0.07352941176470588,0.7358490566037735)"/>
    </edges>
    <edges xmi:id="_XaQF65XTEeqfKILdbDp0tg" type="Transition" element="_XaO305XTEeqfKILdbDp0tg" source="_6iY30ZXUEeqfKILdbDp0tg" target="_XaOQ9ZXTEeqfKILdbDp0tg">
      <children xsi:type="notation:DecorationNode" xmi:id="_XaQF7JXTEeqfKILdbDp0tg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XaQF7ZXTEeqfKILdbDp0tg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XaQF7pXTEeqfKILdbDp0tg" x="-34" y="-37"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XaQF75XTEeqfKILdbDp0tg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XaQF8JXTEeqfKILdbDp0tg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XaQF8ZXTEeqfKILdbDp0tg" points="[0, 4, 53, -70]$[-65, 4, -12, -70]$[-65, 51, -12, -23]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XaQF8pXTEeqfKILdbDp0tg" id="(0.0,0.6792452830188679)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XaQF85XTEeqfKILdbDp0tg" id="(0.8155339805825242,0.4339622641509434)"/>
    </edges>
    <edges xmi:id="_XaQF9JXTEeqfKILdbDp0tg" type="Transition" element="_XaO315XTEeqfKILdbDp0tg" source="_6iY30ZXUEeqfKILdbDp0tg" target="_6iY3xZXUEeqfKILdbDp0tg">
      <children xsi:type="notation:DecorationNode" xmi:id="_XaQF9ZXTEeqfKILdbDp0tg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XaQF9pXTEeqfKILdbDp0tg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XaQF95XTEeqfKILdbDp0tg" x="7" y="7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XaQF-JXTEeqfKILdbDp0tg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XaQF-ZXTEeqfKILdbDp0tg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XaQF-pXTEeqfKILdbDp0tg" points="[-7, 0, 14, 92]$[-7, -65, 14, 27]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XaQF-5XTEeqfKILdbDp0tg" id="(0.6470588235294118,0.0)"/>
    </edges>
    <edges xmi:id="_XaQF_JXTEeqfKILdbDp0tg" type="Transition" element="_XaO3zZXTEeqfKILdbDp0tg" source="_6iY3xZXUEeqfKILdbDp0tg" target="_6iY30ZXUEeqfKILdbDp0tg">
      <children xsi:type="notation:DecorationNode" xmi:id="_XaQF_ZXTEeqfKILdbDp0tg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_XaQF_pXTEeqfKILdbDp0tg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_XaQF_5XTEeqfKILdbDp0tg" x="-19" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_XaQGAJXTEeqfKILdbDp0tg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_XaQGAZXTEeqfKILdbDp0tg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_XaQGApXTEeqfKILdbDp0tg" points="[-1, 53, 7, -75]$[-1, 118, 7, -10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XaQGA5XTEeqfKILdbDp0tg" id="(0.26436781609195403,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_XaQGBJXTEeqfKILdbDp0tg" id="(0.20689655172413793,0.18867924528301888)"/>
    </edges>
    <edges xmi:id="_dfTGkJXVEeqfKILdbDp0tg" type="Transition" element="_dfSfgJXVEeqfKILdbDp0tg" source="_XaOQx5XTEeqfKILdbDp0tg" target="_N0FK4pXVEeqfKILdbDp0tg">
      <children xsi:type="notation:DecorationNode" xmi:id="_dfTGlJXVEeqfKILdbDp0tg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_dfTGlZXVEeqfKILdbDp0tg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_dfTGlpXVEeqfKILdbDp0tg" x="-4" y="-21"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_dfTGkZXVEeqfKILdbDp0tg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_dfTGk5XVEeqfKILdbDp0tg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_dfTGkpXVEeqfKILdbDp0tg" points="[-8, 0, -48, -63]$[-8, 53, -48, -10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dfTtoJXVEeqfKILdbDp0tg" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dfTtoZXVEeqfKILdbDp0tg" id="(0.8297872340425532,0.18867924528301888)"/>
    </edges>
    <edges xmi:id="_-rSKUJXVEeqfKILdbDp0tg" type="Transition" element="_-rRjQJXVEeqfKILdbDp0tg" source="_N0FK4pXVEeqfKILdbDp0tg" target="_6iY30ZXUEeqfKILdbDp0tg">
      <children xsi:type="notation:DecorationNode" xmi:id="_-rSKVJXVEeqfKILdbDp0tg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-rSKVZXVEeqfKILdbDp0tg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-rSKVpXVEeqfKILdbDp0tg" x="-55" y="-16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-rSKUZXVEeqfKILdbDp0tg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-rSKU5XVEeqfKILdbDp0tg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-rSKUpXVEeqfKILdbDp0tg" points="[0, 0, -224, 0]$[213, 0, -11, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-rTYcJXVEeqfKILdbDp0tg" id="(1.0,0.6981132075471698)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-rTYcZXVEeqfKILdbDp0tg" id="(0.07534246575342465,0.18867924528301888)"/>
    </edges>
    <edges xmi:id="_QOmQEJXWEeqfKILdbDp0tg" type="Transition" element="_QOmQGZXWEeqfKILdbDp0tg" source="_6iY30ZXUEeqfKILdbDp0tg" target="_MaPNoZXWEeqfKILdbDp0tg">
      <children xsi:type="notation:DecorationNode" xmi:id="_QOmQFpXWEeqfKILdbDp0tg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QOmQGJXWEeqfKILdbDp0tg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QOmQF5XWEeqfKILdbDp0tg" x="-2" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QOmQFZXWEeqfKILdbDp0tg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QOmQFJXWEeqfKILdbDp0tg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QOmQE5XWEeqfKILdbDp0tg" points="[70, 18, -2, -84]$[70, 95, -2, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QOmQEpXWEeqfKILdbDp0tg" id="(0.23972602739726026,0.660377358490566)"/>
    </edges>
    <edges xmi:id="_x65GYJXoEeqfKILdbDp0tg" type="Transition" element="_x62qIJXoEeqfKILdbDp0tg" source="_XaOQu5XTEeqfKILdbDp0tg" target="_N0FK4pXVEeqfKILdbDp0tg">
      <children xsi:type="notation:DecorationNode" xmi:id="_x65GZJXoEeqfKILdbDp0tg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_x65GZZXoEeqfKILdbDp0tg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_x65GZpXoEeqfKILdbDp0tg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_x65GYZXoEeqfKILdbDp0tg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_x65GY5XoEeqfKILdbDp0tg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_x65GYpXoEeqfKILdbDp0tg" points="[6, 0, 0, 70]$[6, -61, 0, 9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_x65tcJXoEeqfKILdbDp0tg" id="(0.4411764705882353,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_x65tcZXoEeqfKILdbDp0tg" id="(0.5048543689320388,0.8301886792452831)"/>
    </edges>
    <edges xmi:id="_ESqu8JXpEeqfKILdbDp0tg" type="Transition" element="_ESqH4JXpEeqfKILdbDp0tg" source="_XaOQ9ZXTEeqfKILdbDp0tg" target="_N0FK4pXVEeqfKILdbDp0tg">
      <children xsi:type="notation:DecorationNode" xmi:id="_ESqu9JXpEeqfKILdbDp0tg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ESqu9ZXpEeqfKILdbDp0tg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ESqu9pXpEeqfKILdbDp0tg" x="-11" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ESqu8ZXpEeqfKILdbDp0tg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ESqu85XpEeqfKILdbDp0tg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ESqu8pXpEeqfKILdbDp0tg" points="[-23, 0, 113, 64]$[-23, -31, 113, 33]$[-130, -31, 6, 33]$[-130, -61, 6, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ESrWAJXpEeqfKILdbDp0tg" id="(0.4368932038834951,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ESrWAZXpEeqfKILdbDp0tg" id="(0.8543689320388349,0.9433962264150944)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
